In [1]:
import datasets
import pandas as pd

In [32]:
iter_1 = pd.read_json('alpaca_llama70b_iteration_1-iter.jsonl', lines=True)
iter_2 = pd.read_json('alpaca_llama70b_iteration_2-iter.jsonl', lines=True)

In [33]:
iter_1['idx'] = iter_1.index
iter_1

,idx,instruction,output,system_prompt,input,option
0,0,Classify the following words as either mammals...,Here are the classifications:\n\n* Pigeon: Bir...,,"pigeon, tiger",D
1,1,Name a type of plant that can grow in extreme ...,One type of plant that can grow in extreme tem...,,,D
2,2,Use the following pieces of context to answer ...,I don't know. The provided context does not me...,,"Bavaria has a unique culture, largely because ...",D
3,3,Calculate the sum of 40 + 12.,The sum of 40 + 12 is 52.,,,D
4,4,Transform the following sentence into first pe...,Here is the sentence transformed into first pe...,,He went to the store.,D
...,...,...,...,...,...,...
51755,51755,Identify the continents with the most carnivor...,The continents with the most carnivores are Af...,,,C
51756,51756,Identify the grammatical errors or areas of im...,The grammatical error in the sentence is the u...,,Theirselves were very excited,B
51757,51757,"First, develop a concept and plot for a horror...",Concept and Plot:\n\nTitle: The Shattered Refl...,,,A
51758,51758,"Please define the term “algorithm”. Then, prov...",Here's a definition of an algorithm and an exa...,,,C
51759,51759,Describe a triangle as a geometric shape. Then...,A triangle is a polygon with three sides and t...,,,C

In [34]:
# sort iter_2 by idx
iter_2 = iter_2.sort_values(by='idx')
iter_2 = iter_2.reset_index(drop=True)
iter_2

,idx,instruction,output,system_prompt,input,option
0,0,Classify the following words as either mammals...,Here are the classifications:\n\n* Pigeon: Bir...,,"pigeon, tiger",D
1,1,Name a type of plant that can grow in extreme ...,One type of plant that can grow in extreme tem...,,,D
2,2,Use the following pieces of context to answer ...,I don't know. The provided context does not me...,,"Bavaria has a unique culture, largely because ...",D
3,3,Calculate the sum of 40 + 12.,The sum of 40 + 12 is 52.,,,D
4,4,Transform the following sentence into first pe...,Here is the sentence transformed into first pe...,,He went to the store.,D
...,...,...,...,...,...,...
51755,51755,Identify the continents with the most carnivor...,The continents with the most carnivores are Af...,,,D
51756,51756,Identify the grammatical errors or areas of im...,The grammatical error in the sentence is the u...,,Theirselves were very excited,D
51757,51757,"First, develop a concept and plot for a horror...",Concept and Plot:\n\nTitle: The Shattered Refl...,,,D
51758,51758,"Please define the term “algorithm”. Then, prov...",Here's a definition of an algorithm and an exa...,,,D
51759,51759,Describe a triangle as a geometric shape. Then...,A triangle is a polygon with three sides and t...,,,D

In [35]:
iter_2['option_0'] = iter_1['option']
iter_2

,idx,instruction,output,system_prompt,input,option,option_0
0,0,Classify the following words as either mammals...,Here are the classifications:\n\n* Pigeon: Bir...,,"pigeon, tiger",D,D
1,1,Name a type of plant that can grow in extreme ...,One type of plant that can grow in extreme tem...,,,D,D
2,2,Use the following pieces of context to answer ...,I don't know. The provided context does not me...,,"Bavaria has a unique culture, largely because ...",D,D
3,3,Calculate the sum of 40 + 12.,The sum of 40 + 12 is 52.,,,D,D
4,4,Transform the following sentence into first pe...,Here is the sentence transformed into first pe...,,He went to the store.,D,D
...,...,...,...,...,...,...,...
51755,51755,Identify the continents with the most carnivor...,The continents with the most carnivores are Af...,,,D,C
51756,51756,Identify the grammatical errors or areas of im...,The grammatical error in the sentence is the u...,,Theirselves were very excited,D,B
51757,51757,"First, develop a concept and plot for a horror...",Concept and Plot:\n\nTitle: The Shattered Refl...,,,D,A
51758,51758,"Please define the term “algorithm”. Then, prov...",Here's a definition of an algorithm and an exa...,,,D,C
51759,51759,Describe a triangle as a geometric shape. Then...,A triangle is a polygon with three sides and t...,,,D,C

In [36]:
# filter those option_0 == 'D'
iter_2_filter = iter_2[iter_2['option_0'] != 'D']
iter_2_filter

,idx,instruction,output,system_prompt,input,option,option_0
8719,8719,"Analyze the given algorithm, identifying the k...",Let's break down the algorithm and analyze its...,,"def linearSearch(arr, n, x): \n for i in ra...",D,B
8720,8720,Research credible sources to gather informatio...,"Let's fact-check the statement ""The blue whale...",,The blue whale is the largest mammal on earth.,D,B
8721,8721,Analyze the problem of finding distinct island...,The problem of finding distinct islands in a 2...,,,A,B
8722,8722,Write a reminder for releasing the new product...,"**Reminder: New Product Release on Tuesday, Oc...",,,D,C
8723,8723,Compare and contrast the use of television adv...,The 2006 and 2008 election cycles in the Unite...,,,D,C
...,...,...,...,...,...,...,...
51755,51755,Identify the continents with the most carnivor...,The continents with the most carnivores are Af...,,,D,C
51756,51756,Identify the grammatical errors or areas of im...,The grammatical error in the sentence is the u...,,Theirselves were very excited,D,B
51757,51757,"First, develop a concept and plot for a horror...",Concept and Plot:\n\nTitle: The Shattered Refl...,,,D,A
51758,51758,"Please define the term “algorithm”. Then, prov...",Here's a definition of an algorithm and an exa...,,,D,C
51759,51759,Describe a triangle as a geometric shape. Then...,A triangle is a polygon with three sides and t...,,,D,C

In [25]:
# save the filtered iter_2
iter_2_filter.to_json('alpaca_llama70b_iteration_2-iter-filtered.jsonl', orient='records', lines=True)

In [26]:
# save also those not filtered
iter_2_not_filtered = iter_2[iter_2['option_0'] == 'D']
iter_2_not_filtered.to_json('alpaca_llama70b_iteration_2-iter-not-filtered.jsonl', orient='records', lines=True)

In [2]:
path = "alpaca_llama70b_iteration_2-iter-filtered-separated.jsonl"
df = pd.read_json(path, lines=True)

In [6]:
def parse_response(response):
    parsed = []
    for i in range(1, 10):
        # search for the instruction i
        instruction = response.find(f"Instruction {i}:")
        if instruction == -1:
            instruction = response.find(f"Split instruction {i}:")
        output = response.find(f"Response {i}:")
        if instruction == -1 or output == -1:
            break
        instruction = response[instruction+len(f"Instruction {i}:"):output].strip()
        next_instruction = response.find(f"Instruction {i+1}:")
        if next_instruction == -1:
            output = response[output+len(f"Response {i}:"):].strip()
        else:
            output = response[output+len(f"Response {i}:"):next_instruction].strip()
        parsed.append((instruction, output))
    if parsed:
        return parsed
    # search for Instruction N and Response N
    instruction_idx = response.find("Instruction N:")
    output_idx = response.find("Response N:")
    loop = 0
    while (instruction_idx != -1) and (output_idx != -1):
        # if loop > 10:
        #     break
        loop += 1
        instruction = response[instruction_idx+len("Instruction N:"):output_idx].strip()
        next_instruction = response.find("Instruction N:", output_idx)
        if next_instruction == -1:
            output = response[output_idx+len("Response N:"):].strip()
        else:
            output = response[output_idx+len("Response N:"):next_instruction].strip()
        parsed.append((instruction, output))
        response = response[output_idx+len("Response N:"):]
        instruction_idx = response.find("Instruction N:")
        output_idx = response.find("Response N:")
    
    return parsed

In [7]:
from tqdm import tqdm
tqdm.pandas()
df['parsed'] = df['response'].progress_apply(parse_response)

100%|██████████| 43041/43041 [00:00<00:00, 81001.09it/s]

In [12]:
# explode the parsed column
df_explode = df.explode('parsed')
# extract the instruction and output by [0] and [1]
df_explode['instruction'] = df_explode['parsed'].apply(lambda x: x[0])
df_explode['output'] = df_explode['parsed'].apply(lambda x: x[1])
# drop the option, option_0, prompt, response and parsed columns
df_explode = df_explode.drop(columns=['option', 'option_0', 'prompt', 'response', 'parsed'])
df_explode

,idx,instruction,output,system_prompt,input
0,8719,"Analyze the given algorithm, identifying the k...",Let's break down the algorithm and analyze its...,,"def linearSearch(arr, n, x): \n for i in ra..."
0,8719,and then find the time complexity of this algo...,**Time complexity analysis:**\n\nThe dominant ...,,"def linearSearch(arr, n, x): \n for i in ra..."
1,8720,Research credible sources to gather informatio...,According to the National Oceanic and Atmosphe...,,The blue whale is the largest mammal on earth.
1,8720,"Then, fact-check a given statement: 'The blue ...",Based on the information from these credible s...,,The blue whale is the largest mammal on earth.
2,8721,Analyze the problem of finding distinct island...,The problem of finding distinct islands in a 2...,,
...,...,...,...,...,...
43038,51757,"Then, write a 500-word story based on your con...",Story:\n\nThe Shattered Reflection\n\nAs we st...,,
43039,51758,Please define the term “algorithm”.,An algorithm is a well-defined procedure that ...,,
43039,51758,"Then, provide an example of a common task or p...",A common task that can be solved using an algo...,,
43040,51759,Describe a triangle as a geometric shape.,A triangle is a polygon with three sides and t...,,
43040,51759,"Then, use your description to explain how to c...",To construct a triangle with a given base and ...,,

In [14]:
not_filtered = pd.read_json("alpaca_llama70b_iteration_2-iter-not-filtered.jsonl", lines=True)
not_filtered = not_filtered.drop(columns=['option', 'option_0'])
# concatenate the filtered and not filtered
df_concat = pd.concat([df_explode, not_filtered])
df_concat

,idx,instruction,output,system_prompt,input
0,8719,"Analyze the given algorithm, identifying the k...",Let's break down the algorithm and analyze its...,,"def linearSearch(arr, n, x): \n for i in ra..."
0,8719,and then find the time complexity of this algo...,**Time complexity analysis:**\n\nThe dominant ...,,"def linearSearch(arr, n, x): \n for i in ra..."
1,8720,Research credible sources to gather informatio...,According to the National Oceanic and Atmosphe...,,The blue whale is the largest mammal on earth.
1,8720,"Then, fact-check a given statement: 'The blue ...",Based on the information from these credible s...,,The blue whale is the largest mammal on earth.
2,8721,Analyze the problem of finding distinct island...,The problem of finding distinct islands in a 2...,,
...,...,...,...,...,...
8714,8714,"Explain the concept of ""fake news"" in a short ...","Here is a short overview of the concept of ""fa...",,
8715,8715,"Generate at least 3 synonyms for the word ""hum...","Here are three synonyms for the word ""humorous...",,
8716,8716,Write a program to display a ASCII representat...,Here is a simple program that displays an ASCI...,,
8717,8717,Arrange the words in an appropriate grammar st...,Here is the rearranged sentence in a grammatic...,,bigger than elephant the
8718,8718,What is an IP address?,An IP address (Internet Protocol address) is a...,,

In [16]:
# save as jsonl
df_concat.to_json("alpaca_llama70b_iteration_2-separated.jsonl", orient='records', lines=True)

In [17]:
from transformers import AutoTokenizer
tokenizer = AutoTokenizer.from_pretrained("meta-llama/Meta-Llama-3-8B")

df = pd.read_json("sg_first_52k.jsonl", lines=True)

Special tokens have been added in the vocabulary, make sure the associated word embeddings are fine-tuned or trained.

In [24]:
from tqdm import tqdm
tqdm.pandas()

df['tokens'] = df['instruction'].progress_apply(lambda x: len(tokenizer(x)['input_ids']))
df

100%|██████████| 51047/51047 [00:21<00:00, 2399.82it/s]

,id,instruction,input,output,tokens
0,0,root@openvpn:/home/openvpn# ./openvpn-install....,,"<div class=""markdown prose w-full break-words ...",433
1,1,提供一個媒體招待會的流程表，內容是執行完「來彰化跑步」這個活動結束後，透過媒體招待會來展示這...,,"<div class=""markdown prose w-full break-words ...",70
2,2,How to tell if a customer segment is well segm...,,"<div class=""markdown prose w-full break-words ...",18
3,3,"In Java, I want to replace string like ""This i...",,"<div class=""markdown prose w-full break-words ...",63
4,4,The following is the job of the hosting servic...,,"<div class=""markdown prose w-full break-words ...",508
...,...,...,...,...,...
51042,52175,I am installing cooler package in macos using ...,,"<div class=""request-:R2d6:-0 markdown prose da...",35
51043,52176,How to implement 2 factor authentication in my...,,"<div class=""markdown prose w-full break-words ...",14
51044,52177,"curl -H ""Content-Type: application/json"" -d '{...",,"<div class=""request-:R2dm:-2 markdown prose da...",30
51045,52178,我需要你幫我填寫英文履歷，我給你中文之後你幫我彙整並翻譯成英文。,,"<div class=""markdown prose w-full break-words ...",32
51046,52179,let's create the technical architecture for a ...,,"<div class=""request-:R3d6:-0 markdown prose br...",15

In [25]:
# keep when tokens > 2048
df_filtered = df[df['tokens'] > 2048]
df_filtered

,id,instruction,input,output,tokens
9,9,Schreibe eine rustdoc Dokumentation inklusive ...,,"<div class=""request-:R2d6:-2 markdown prose da...",11220
119,120,"# -*- coding: utf-8 -*-\n""""""\nCreated on Sat A...",,"<div class=""markdown prose w-full break-words ...",2272
306,309,Rewrite this YAML config to C++ code in an Esp...,,<div><p>Here is an example of how the YAML con...,2270
465,472,"3 / 4""Organize this transcript into a detailed...",,"<div class=""request-:R3d6:-2 markdown prose br...",10452
590,600,Can you read this text and produce a flowchart...,,<div><p>Here is a flowchart outlining the proc...,8591
...,...,...,...,...,...
50728,51852,2 / 2Write a winning request for proposal (RFP...,,"<div class=""request-:R2d6:-1 markdown prose da...",6595
50732,51856,using System;\nusing System.Collections.Generi...,,<div><p>This is a code for a simple 3D raycast...,2378
50900,52029,The Del Mar Woods Home Owners Association rece...,,"<div><p>Based on the provided quote, the follo...",3114
50983,52115,Following is text from a slide presentation fo...,,<div><p>Quiz:</p><ol><li>True or False: Human ...,3246
51024,52156,Wciel się w rolę profesora psychologii.\nOceń ...,,"<div class=""markdown prose w-full break-words ...",2257